:root {
  --global-theme-color-base: rgb(228, 228, 228);
}

/* ! Doe nooit  * */

html,
body {
  margin: 0;
  padding: 0;
  cursor: none;
}

body{
    overflow: hidden;
}

html {
  background: var(--global-theme-color-base);
}
